@import "tailwindcss";

/* in globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}


@font-face {
  font-family: "DevnagriFont";
  src: url("/src/assets/fonts/Jaini-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
